.search-section{
    height: 25vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    // background-image: url(https://resizer.otstatic.com/v2/photos/wide-huge/25161502.jpg);
    background-image: url(https://cdn.otstatic.com/mobileweb/mobile-web-frontend/images/black-pattern.png);
}

.search-box{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 8px 0;
    background-color: white;
    width: 80%;
    height: 3.5vh;
    color: white;
}

.search-icon{
    width: 10%;
    color: aqua;
    text-align: center;
}

.search-title{
    color: white;
    margin-bottom: 20px;
}

.search-input{
    width: 90%;
    height: 80%;
    border: none;
    outline: none;
}

.section-padding{
    padding: 15px 0;
}

.restaurant-card{
    box-shadow: 0 1px 1px 0 rgba(51,51,51,.3);
    width: 250px;
    border-radius: 6px;
    background-color: white;

    img{
        height: 140px;
        width: 250px;
    }

    .star-review{
        font-size: 10px;
        vertical-align: middle;
        font-weight: 400;
        color: red;
    }
}

.restaurant-info{
    padding: 10px;
}

.restaurant-list{
    display: flex;
    overflow-x: scroll;
    padding-bottom: 30px;
}

.restaurant-list-title{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 15px;

    h5{
        a{
            color: orange;
            text-decoration: none;
        }
    }
}

.recommendation-card{
    border: black solid 0.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    color: white;
    background-color: brown;

    p{
        margin: 5px 0;
    }

    button{
        margin: 5px 0;
        color: white;
        background-color: cyan;
        width: 50%;
        border: none;
        border-radius: 10px;
        box-shadow: 0 5px 5px 3px rgba(51,51,51,.3);
    }
}