.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: aqua;
}

.nabvar-section-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nabvar-section-navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 15%;
}